.progress {
    height: 3px!important;
}

.c-col {
    margin-left: 2%;
}

.c-title {
    font-size: 20px;
    font-weight: bolder;
    color: black!important;
}

.c-progress {
    width: 75%;
    height: 3px;
}

.c-button {
    margin-left: 5px;
}